/* Contenedor de los integrantes para pantalla grande */
.integrantes-container {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 100px);
}

.integrante-container {
  position: relative;
  max-width: 33.33%;
  margin: 0;
  padding: 0;
}

.integrante-hover-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.integrante-container:hover .integrante-hover-text,
.integrante-container.active .integrante-hover-text {
  opacity: 1;
}

/* Media query para dispositivos móviles y tabletas */
@media (max-width: 768px) {
  .integrantes-container {
    display: block;
    height: auto;
  }

  .integrante-container {
    max-width: 100%;
    margin-bottom: 1rem;
  }
}
